.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupname
        = @group.name
      .RightHeader__memberlist
        Member : 
        - @group.users.each do |user|
          = user.name

    = link_to "Edit", edit_group_path(@group), class: "RightHeader__editbutton"
  .MessageField
    = render @messages
    -# .Message__box
    -#   .Message__username
    -#     aaa
    -#   .Message__date
    -#     2020/08/20(Thu)06:30:34
    -# .Message
    -#   おはよう
    -# .Message__box
    -#   .Message__username
    -#     aaa
    -#   .Message__date
    -#     2020/08/20(Thu)22:30:26
    -# .Message
    -#   おやすみ

  -# .Footer
  -#   %form.Form
  -#     .Form__contents
  -#       %input{type: "text", placeholder:"type a message", class:"Form__inputcontent"}
  -#       %label{class: "Form__inputimage"}
  -#         = icon('far', 'image')
  -#         %input{type: "file", class:"Form__file"}
  -#     %input{type: "submit",value:"Send", class:"Form__submit"}


  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputcontent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputimage' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Form__file'
      = f.submit 'Send', class: 'Form__submit'