.SideBer
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__userName
        = current_user.name
      %ul.LeftHeader__iconlist
        %li.leftHeader__icon
          = link_to new_group_path, class: "icon" do
            = icon('far', 'edit')
        %li.leftHeader__icon
          = link_to edit_user_path(current_user), class: "icon" do
            = icon('fas', 'cog')
  .GroupList
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            まだメッセージがありません